/* Section - Services */

#services {
  background-color: #000000;
  padding: 100px 5%;
  text-align: center;
  color: #ffffff;
}

#services2 {
  background-color: #ffffff;
  padding: 60px 5%;
  text-align: center;
  color: #000000;
}

.services h2 {
  font-size: 45px;
  font-weight: 800;
}

/* Styles for each service */
.service {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Styles for the service information */
.service-info {
  flex: 1;
  text-align: left;
}

.service-info h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service-info-2 {
  flex: 1;
  text-align: left;
}

.service2 {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

/* Styles for the service image */
.service-image {
  flex: 1;
  text-align: right;
}

.service-image img {
  max-width: 100%;
  margin-left: 50px;
  height: auto;
  border: 4px solid #da1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.hidden-text {
  display: none;
}
/* Styles for the "Read More" button */
.read-more-btn {
  background-color: #da1a1a;
  color: #fff;
  border: none;
  padding: 7px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 5px;
  margin-bottom: 5px;
}

.read-more-btn:hover {
  background-color: #ff0000;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  /* Adjust padding or font sizes for smaller screens as needed */
  #services {
    padding: 40px 5%;
  }

  /* Stack service info and image on smaller screens */
  .service {
    flex-direction: column;
    text-align: center;
  }

  .service-info,
  .service-image {
    flex: 1;
  }
}
